.project-list-container{
  display: flex;
  justify-content: space-between;
}

#root{
  height: 100%;
  min-height: 100vh;
}

.container{
  min-height: 100vh;
}

.assign {
  text-align: center;
  margin-top: 10%;
}
.project-row {
  margin-bottom: 100px;
  margin-right: 200px;
}