.project-list-container{
  display: flex;
  justify-content: space-around;
}

#root{
  height: 100%;
  min-height: 100vh;
}

.container{
  min-height: 100vh;
}

.assign {
  text-align: center;
  margin-top: 10%;
}