.nav-container{
    display: flex;
    /* height: 100px; */
    min-height: 15vh;
    font-size: 14px;
    font-weight: 900;
}
.nav-logo{
    width: 50%;
}
.nav-logo img{
    width: 100px;
    height: 100px;
}
.nav-links{
    display: flex;
    width: 50%;
    /* padding: 5px; */
}
.nav-links .nav-item{
    background-color: #5A80FF;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    /*padding-top: 8px;*/
    /* padding-bottom: 10px; */
    transition: border-radius 0.3s;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.nav-links .nav-item:hover{
    border-radius: 0;
}